// 1. PALETA DE COLORES
$color-fondo: #fffbf0; // Crema base
$color-fondo-claro: #fdfcf5; // Marfil / Blanco Hueso
$color-nav: #b8860b; // Dorado / Miel principal
$color-texto-oscuro: #3e2723; // Marrón Café Intenso
$color-texto: #4a3b2a; // Marrón Tierra (Textos)
$color-whatsapp: #25d366;

// 2. EFECTOS Y TIPOGRAFÍA
$sombra-suave: 0 4px 10px rgba(184, 134, 11, 0.15);
$transicion: all 0.3s ease-in-out;
$fuente-principal: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
